.footer {
    background: black;
    position: fixed;
    bottom: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
    color: red;
}

.fab {
    margin-left: 5px;
}

.github-link, .portfolio-link {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Gochi Hand', cursive;
}

.github-link:hover, .portfolio-link:hover {
    color: red;
}